${head}
<br>
<h1>Blood Bank Admin Login</h1>
<br>

<div class="dashboardIconFlex">
    <img class="nav-logo selectListIcon" src="/img/adminLogin.png" alt="a drop of Blood">
</div>
<form action="/users/login" method="post" class="row g-3 admin-reg mt-0">
    <div class="col-md-2 inputBarWidth">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="col-md-2 inputBarWidth">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        
        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-secondary">Sign in</button>
        </div>
    </div>
</form>

${foot}