${head}
<br>
<br>
<h1>Register new admin</h1>
<form action="/users/register" method="post" class="row g-3 admin-reg mt-5">
  <div class="col-md-2">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="username">
  </div>
  <div class="col-md-2">
    <label for="password" class="form-label">Password</label>

    <!-- id for input on line 12 under password was passwor4 changed to password so if something breaks looks here -->
    <input type="password" name="password" class="form-control" id="password">   
    
    <div class="col-12 pt-3">
      <button type="submit" class="btn btn-secondary">Register</button>
    </div>
  </div>
</form>


${foot}





