${head}

<h1>Blood Bank Admin Login</h1>


<form action="/users/login" method="post" class="row g-3 admin-reg mt-5">
    <div class="col-md-2">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="col-md-2">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
        
        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>

${foot}