${head}

<form class="row g-3 admin-reg mt-5">
  <div class="col-md-2">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="col-md-2">
    <label for="password" class="form-label">Password</label>

    <!-- id for input on line 12 under password was passwor4 changed to password so if something breaks looks here -->
    <input type="password" class="form-control" id="password">   
    
    <div class="col-12 pt-3">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>


${foot}






<!-- 


  <h1>Register</h1>
  <form action="/users/register" method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </p>
    <button type="submit">Register</button>
  </form> -->