${head}
<br>
<br>
<h1>Make a Donation for ${donor.name} </h1>
<br>
<form action="/donor/${donor.id}/donation" method="post" class="donation-units ">
  <div class="form-outline col-md-4">
    <label class="form-label" for="units" name="units">How many units?</label>
    <input type="number" id="typeNumber" name="units" class="form-control" />
    <br>
    <button type="submit" class="btn btn-secondary">Add To Database</button>
  </div>
  </form>
  ${foot}


<!-- 


  <form action="/donor/${donor.id}/donation" method="post">
    <label for="units">How many units?</label>
    <input type="number" name="units" class="units" id="units" min="1">
    
  </form> -->