${head}
    <h1>Donor Select List</h1>
    <form action="/donor_select" class="row g-3 donor-select-list" method="get"> 
        <div class="col-md-3">
            <label for="dob" class="form-label">DOB</label>
            <input type="date" name="dob" id="dob" class="form-control" value="${dob}">
            <div class="col-12 pt-4">
            <button type="submit" class="btn btn-secondary" >Search</button>
            </div>
        </div> 

    </form>
    <br>
    <br>
    ${donors.length === 0? `
    
    ` : `
        <table class="table table-hover dashboard-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                ${donors.map(x => {
                    return `
                    <tr>
                        <td>${x.name}</td>
                        <td>${x.dob.getMonth() + 1}/${x.dob.getDate()}/${x.dob.getFullYear()}</td>
                        <td><a href="/donor/${x.id}/donation">New Donation</a></td>
                    </tr>
                    `                
                }).join('') }
            </tbody>
        </table>
        `}
    
    

    ${foot}