${head}
    <div class="donor-select-list">
    <h1>Donor Select List</h1>
    <form action="/donor_select" method="get"> <!--fill in action-->
        <p>
            <label for="dob">DOB</label>
            <input type="date" name="dob" id="dob" value="${dob}">
            <button type="submit" >Search</button>
        </p>
    </form>
    ${donors.length === 0? `
    
    ` : `
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                ${donors.map(x => {
                    return `
                    <tr>
                        <td>${x.name}</td>
                        <td>${x.dob.getMonth() + 1}/${x.dob.getDate()}/${x.dob.getFullYear()}</td>
                        <td><a href="/donor/${x.id}/donation">New Donation</a></td>
                    </tr>
                    `                
                }).join('') }
            </tbody>
        </table>
        `}
    </div> 
${foot}