<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Form</title>
</head>
<body>
    <h1>New Donor Form</h1>
    <form action="/donor" method="post"> <!-- check action-->
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="dob">DOB</label>
            <input type="date" id="dob" name="dob">
        </p>
        <p>
            <label for="bloodType">Blood Type</label>
            <select name="bloodType" id="bloodType">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>
        </p>
        <a href="/donation"><button type="submit">Submit</button></a>
    </form> 
</body>
</html>