${head}
<br>
<h1>Welcome to Blood Bath</h1>
<br>

<div class="dashboardIconFlex">
    <img class="nav-logo welcomeIcon" src="/img/welcome.png" alt="a drop of Blood">
</div>
<h3 class="signInToAccess">- sign in to access dashboard -</h3>
<div class="col-12 pt-3 sign-in">
    <a href="/users/login"><button type="submit" class="btn btn-secondary bigButton">Admin Login</button></a>
</div>
<!-- <img src="/img/logo.png" alt="a drop of Blood"> -->
<img src="https://giphy.com/gifs/showtime-dexter-dexter10-3o7TKtSh815BEo0jXG" alt="">



${foot}